<div class="main_container" >
  <h1>Welcome!</h1>
  <br />
  <div class="row-fluid">
    <div class="span4">
      <div id="row_container_purple">
        <h2>About this site<h2>
      </div>
      <p>
        This site is meant to be a personal website to serve as a homebase for Justin Moulton. Form
        here you will be able to find out more about me and obtain resources to contact me and see
        my work.
      </p>
    </div>
    <div class="span4">
      <div id="row_container_green">
        <h2>Interests<h2>
      </div>
      <p>
      My interests and profession are prominent in the technological field however, I am also
      very interesten in art, music and sports. I try to include creativity in everything I work on.
      </p>
    </div>
    <div class="span4">
      <div id="row_container_red">
        <h2>Development<h2>
      </div>
      <p>
      My focuse on software developemnt is in web development. I have a strong background in MVC architectures and
      strong familiarity in Ruby on Rails and Groovy on Grails.
      </p>
    </div>
  </div>
</div>
