<div style="background-color:#3498DB;" class="main_container" >
  <h1>Welcome!</h1>
  <br />
</div>
<div class="main_container" >
  <br />
  <div class="row-fluid">
    <div class="span4">
      <div id="row_container_purple">
        <h2>About this site</h2>
      </div>
      <br />
      <p style="color:#7F8C8D;">
      This is a basic rails application that serves as a portal for Justin Moulton. From here you can access my contact information,
      Learn more about me, take a look into projects I am working on, and get an understanding of both my professional and personal
      goals.
      </p>
    </div>
    <div class="span4">
      <div id="row_container_green">
        <h2>Interests</h2>
      </div>
      <br />
      <p style="color:#7F8C8D;">
      My interests reside mostly in the technology field. I have worked with computers my entire life. I also enjoy writing and any oppurtunity
      to express creativity. I am also a sports and music finatic. Eventually I would like this website to turn into a blog or post website where
      I can write about tech, sports, and music.
      </p>
    </div>
    <div class="span4">
      <div id="row_container_red">
        <h2>Development</h2>
      </div>
      <br />
      <p style="color:#7F8C8D;">
      Since graduating from VCU, I have been mostly focused on web development. I work heavily with MVC architectures and frameworks
      such as Ruby on Rails and Groovy on Grails. At my current job at BLiNQ media I work with a team of engineers on a social engagement
      platform known as BAM.
      </p>
    </div>
  </div>
</div>
