<div style="background-color:#27AE60" class="main_container" >
  <h1>Contact</h1>
  <br />
</div>
<div class="main_container" >
  <br />
  <div class="row-fluid">
    <div class="span8">
      <br />
      <ul>
        <li>Email: moultonjust@gmail.com</li>
        <li>Phone: (703)-628-1716
      </ul>
    </div>
    <div class="span4">
      <br />
    </div>
  </div>
</div>
