<div style="background-color:#C0392B" class="main_container" >
  <h1>Projects</h1>
  <br />
</div>
<div class="main_container" >
  <br />
  <div class="row-fluid">
    <div class="span8">
      <br />
      <h4>You can Checkout what I've been working on by checking out my GitHub page:</h4>
      <ul>
        <li><a href="https://github.com/moultonjr">Github</a></li>
      </ul>
    </div>
    <div class="span4">
      <h1 style="color:#2C3E50;">More To Come!</h1>
      <br />
    </div>
  </div>
</div>
