<div style="background-color:#D35400" class="main_container" >
  <h1>Resume</h1>
  <br />
</div>
<div class="main_container" >
  <br />
  <div class="row-fluid">
    <div style="margin-left:30px;" class="span12">
      <br />
      <h3 style="text-align:center;">Justin Moulton<br/>
      </h3>

      <h4>OBJECTIVE</h4>

      <p>To obtain a position as a Software Developer where I can contribute to project success 
      using my experience in web development and strong teamwork skills to innovate and accomplish strong goals
      </p>
      <br/>
      <h4>SUMMARY OF QUALIFICATIONS</h4>
      <ul>
        <li>Strong background in object-oriented programing with languages including Java and Ruby</li>
        <li>Experienced in Web Programming with multiple MVC frameworks</li>
        <li>Analytical thinker capable of solving real-time complex problems </li>
        <li>Experienced in team-oriented projects, paired programming and agile development</li>
        <li>Worked on large scale Ruby on Rails applications</li>
      </ul>
      <br/>
      <h4>EDUCATION</h4>

      <p>
      Virginia Commonwealth University - Richmond, VA<br/>
      School of Engineering May 2012<br/>
      Bachelor of Science in Computer Science<br/>
      </p>
      <br/>
      <h4>TECHNICAL EXPERTISE</h4>
      <ul>
        <li>Languages: Java, Javascript, HTML, Ruby, PHP,, Objective C, Groovy, HAML</li>
        <li> MVC Frameworks:  Ruby on Rails, Groovy on Grails</li>
        <li> Javascript Libraries: underscore, JQuery</li>
        <li> Database Systems: SQL Server, SQLite, MySQL</li>
        <li> Software: Eclipse, Aptana Studio, Adobe Dreamweaver, Photoshop, Illustrator, JDeveloper 11g, Xcode, Spring Source, VIM</li>
        <li> Version Control: Git (github), Subversion</li>
      </ul>
      <br/>
      <h4>PROFESSIONAL EXPERIENCE</h4>
      <p>
      Lab Technician <br />
      ITT Corporation Herndon, VA <br/>
      July 2010 - July 2011 <br/>
      <ul>
        <li>Configured and installed a KVM switch to multiple workstations and an HP Blade Server.</li>
        <li>Configured and installed multiple (Linux/Unix) operating systems throughout the lab.</li>
        <li>Created new databases for simulation configuration files and backups using MySQL.</li>
        <li>Configured a central FTP server that each computer in the lab can access.</li>
        <li>Installed needed software to improve lab needs. (Bugzilla, SAMBA, SNP).</li>
        <li>Designed shell and perl scripts to backup/transfer log files to a central server.</li>
      </ul>
      <br/>
      <p>
      VCU Senior Project ATSC - MyPBA Application for a Pension Benefit Guaranty <br/>
      ATSC Richmond, VA <br/>
      September 2011 - April 2012 <br/>
      <p>
      <ul>
        <li> Designed a mash-up interactive web application using Oracle WebCenter Fusion Middlewear and JDeveloper 11g IDE.</li>
        <li> Experienced working with Java EE and developing HTML, XML, and Javascript pages.</li>
        <li> Implemented Application Development Framework</li>
        <li> Based design on a three-tiered system (Model Viewer Controller)</li>
        <li> Application used stand-alone AJAX (Asynchronous Javascript and XML) for look and feel.</li>
        <li> Worked closely with three other individuals in an equal team effort.</li>
      </ul>
      <br/>

      <p>
      Web Designer and Software Engineer - Automated Survey for Soft Power Solutions<br/>
      Open Network Solutions Ashburn, VA<br/>
      June 2012 - August 2012<br/>
      <p>
      <ul>
        <li> Designed an interactive Automatedtomated survey based on the framework Groovy on Grails</li>
        <li> Based design on a three-tiered system (Model Viewer Controller)</li>
        <li> Used many languages such as Java, Groovy, HTML, CSS, and Javascript</li>
        <li> Learned the Spring Source Suite along with the Grails framework</li>
        <li> Used MySQL for the back-end database</li>
      </ul>
      <br/>
      <p>
      Ruby on Rails Developer for BLiNQ Media<br/>
      BLiNQ Media 1235 Peachtree st NE suite 1205, Atlanta GA <br/>
      September 2012 - current<br/>
      <p>
      <ul>
        <li>  Designered an interactive automated survey based on the framework Groovy on Grails</li>
        <li>  Based design on a three-tiered system (Model Viewer Controller)</li>
        <li>  Used many languages such as Java, Groovy, HTML, CSS, and Javascript</li>
        <li>  Learned the Spring Source Suite along with the Grails framework</li>
        <li>  Used MySQL for the back-end database</li>
      </ul>
      <br/>
      <h4>AWARDS</h4>
      <p>
      Award for Excellence in Design - MyPBA Application <br/>
      VCU Senior Expo <br/>
      School of Engineering April 2012
      <p>
      </p>
    </div>
    <div class="span4">
      <br />
    </div>
  </div>
</div>
